@model IEnumerable<Product>;

@{
	ViewData["Title"] = "GetProductByCategory";
	Layout = "~/Views/Shared/_UserHomeLayout.cshtml";

}


<head>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Acme&family=Archivo+Black&family=Caveat:wght@400;600&family=Chivo:wght@100;400&family=Cookie&family=DM+Serif+Display&family=Dancing+Script&family=Great+Vibes&family=Griffy&family=Kalam:wght@300;400&family=Lobster&family=Righteous&family=Rubik+Mono+One&family=Satisfy&family=Shadows+Into+Light&family=Ubuntu+Condensed&display=swap" rel="stylesheet">

	<style>
		h3 {
			font-family: Shadows Into Light !important;
			font-weight: 800;
			margin-bottom: -2%;
			margin-top: 15%;
		}
	</style>
</head>

<body>


	<br />
	<br />
	<br />
	

	<!--Display The Whole Products Under the Category-->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">

				<div class="p-b-10">
					<h3 class="ltext-103 cl5">
						Exclusive Items
					</h3>
				</div>


			</div>



			<div class="row isotope-grid">
				@foreach (var item in Model)
				{
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @item.CategoryId">
						<!-- This div represents an individual product -->
						<div class="block2" style=" padding:8%; border: 1px solid #e6e6e6">
							<div class="block2-pic hov-img0">
								<img src="@Url.Content("~/Images/" + item.ProductImage)" asp-append-version="true" width="200" height="200" />

								<a asp-action="Details2" asp-route-id="@item.ProductId" class="block2-btn  flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
									Quick View
								</a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l">
									<a class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										@item.ProductName
									</a>
									<span class="stext-105 cl3">
										@item.ProductPrice JD
									</span>
									@if (item.AverageRating.HasValue)
									{
										<div style="font-size:13px;">
@* 											Average Ratings: @item.AverageRating <i class="item-rating  zmdi zmdi-star" style="color:#f9ba48; "></i>
 *@											Average Ratings: @Math.Round( @item.AverageRating ?? 0, 1) <i class="item-rating zmdi zmdi-star" style="color:#f9ba48;"></i>
										</div>
									}
									else
									{
										<div style="font-size:12px;">
											No Ratings Yet
										</div>
									}
								</div>

									<div class="block2-txt-child2 flex-r p-t-3">
									<form asp-action="AddToWishlist" asp-controller="Wishlists">
										<input type="hidden" name="productId" value="@item.ProductId" />

										<button>
											<i class="zmdi zmdi-favorite-outline" style="font-size:20px;"></i>
										</button>
									</form>
							</div>
							</div>
						</div>
						<!-- End of individual product -->
					</div>
				}
			</div>

		</div>
	</div>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>


	
</body>