
 @model IEnumerable<Wishlist>

@{
    ViewData["Title"] = "Wishlist";
	Layout = "~/Views/Shared/_UserHomeLayout.cshtml";

}

<head>    
	<style>
		.cart-wrap {
			padding: 40px 0;
			font-family: 'Open Sans', sans-serif;
		}

		.main-heading {
			font-size: 19px;
			margin-bottom: 20px;
		}

		.table-wishlist table {
			width: 80%;
			margin:auto auto;
		}

		.table-wishlist thead {
			border-bottom: 1px solid #e5e5e5;
			margin-bottom: 5px;
		}

			.table-wishlist thead tr th {
				padding: 8px 0 18px;
				color: #484848;
				font-size: 15px;
				font-weight: 400;
			}

		

			.table-wishlist tr td .img-product {
				width: 72px;
				float: left;
				margin-left: 8px;
				margin-right: 31px;
				line-height: 63px;
			}

				.table-wishlist tr td .img-product img {
					width: 100%;
				}

			.table-wishlist tr td.price {
				font-weight: 600;
				text-align: center;
			}

			

			.table-wishlist tr td .quanlity {
				position: relative;
			}

		.total {
			font-size: 24px;
			font-weight: 600;
			color: #8660e9;
		}

		.display-flex {
			display: flex;
		}

		.align-center {
			align-items: center;
		}

		.round-black-btn {
			border-radius: 25px;
			background: #212529;
			color: #fff;
			padding: 5px 20px;
			display: inline-block;
			border: solid 2px #212529;
			transition: all 0.5s ease-in-out 0s;
			cursor: pointer;
			font-size: 14px;
		}

			.round-black-btn:hover,
			.round-black-btn:focus {
				background: transparent;
				color: #212529;
				text-decoration: none;
			}

		.mb-10 {
			margin-bottom: 10px !important;
		}

		.mt-30 {
			margin-top: 30px !important;
		}

		.d-block {
			display: block;
		}

		.custom-form label {
			font-size: 14px;
			line-height: 14px;
		}

		.pretty.p-default {
			margin-bottom: 15px;
		}

		.pretty input:checked ~ .state.p-primary-o label:before,
		.pretty.p-toggle .state.p-primary-o label:before {
			border-color: #8660e9;
		}

		.pretty.p-default:not(.p-fill) input:checked ~ .state.p-primary-o label:after {
			background-color: #8660e9 !important;
		}

		.main-heading.border-b {
			border-bottom: solid 1px #ededed;
			padding-bottom: 15px;
			margin-bottom: 20px !important;
		}

		.custom-form .pretty .state label {
			padding-left: 6px;
		}

			.custom-form .pretty .state label:before {
				top: 1px;
			}

			.custom-form .pretty .state label:after {
				top: 1px;
			}

		.custom-form .form-control {
			font-size: 14px;
			height: 38px;
		}

			.custom-form .form-control:focus {
				box-shadow: none;
			}

		.custom-form textarea.form-control {
			height: auto;
		}

		.mt-40 {
			margin-top: 40px !important;
		}

		.table-wishlist tr td {
			padding: 25px 0;
			vertical-align: middle;
			text-align: center;
		}
		.in-stock-box {
			background: #005fff;
			font-size: 16px;
			text-align: center;
			border-radius: 25px;
			padding: 4px 15px;
			display: inline-block;
			color: #fff;
		}

		.trash-icon {
			font-size: 23px;
			color: #fff;
		}

		.main-menu > li > a {
			font-family: Poppins-Medium;
			font-size: 16px;
			font-weight: bold;
			color: #333;
			padding: 5px 0px;
			transition: all 0.4s;
			-webkit-transition: all 0.4s;
			-o-transition: all 0.4s;
			-moz-transition: all 0.4s;
		}

		.main-menu {
			margin-top: 3%;
		}

		.h-auto1 {
			height: 60px !important;
		}

		.w-px-401 {
			width: 80px !important;
		}

		.table:not(.table-dark) th {
			color: #ffffff !important;
			font-weight: 600;
			/* align-items: center; */
			text-align: center;
			padding-top: 20px;
		}

		.table-wishlist tr td .name-product {
			font-size: 15px;
			color: #fbf7f7;
			padding-top: 8px;
			line-height: 24px;
			/* width: 50%; */
			text-align: center;
		}
	</style>

	<!-- Core CSS -->
	<link rel="stylesheet" href="~/AdminTemplate/assets/vendor/css/core.css" class="template-customizer-core-css" />
	<link rel="stylesheet" href="~/AdminTemplate/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
	<link rel="stylesheet" href="~/AdminTemplate/assets/css/demo.css" />

	<!-- Vendors CSS -->
	<link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

	<link rel="stylesheet" href="~/AdminTemplate/assets/vendor/libs/apex-charts/apex-charts.css" />

	<!-- Page CSS -->
	<!-- Helpers -->
	<script src="~/AdminTemplate/assets/vendor/js/helpers.js"></script>

	<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
	<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
	<script src="~/AdminTemplate/assets/js/config.js"></script>
</head>

<body>

	



	<!--List-->
	<br />
	<br />
	<br />
	<br />

	<div class="cart-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-heading mb-10" style="font-size: 35px;
    font-family: Shadows Into Light !important;
    text-align: center;
    color: #806b6b;
    text-shadow: 2px 2px 5px;">
						My wishlist
					</div>
					<div class="table-wishlist">
						<table cellpadding="0" cellspacing="0" border="1"  class="table table-bordered" style="background:#806b6b; color:#fff; font-weight:bold;">
							<thead style="color: #fff !important">
								<tr>
									<th width="15%"	scope="col">Product</th>
									<th width="15%"	scope="col">Name</th>
									<th width="15%"	scope="col">Price</th>
									<th width="15%"	scope="col">Stock Status</th>
									<th width="15%"	scope="col">Remove</th>
									<th width="15%"	scope="col">Move To cart</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var whishlistItem in Model)
								{
									<tr>
										<td width="15%">
											<div class="display-flex align-center">
												<div class="img-product">
													<img src="@Url.Content("~/Images/" + @whishlistItem.Product.ProductImage)" asp-append-version="true" style="width: 150px; margin-right: 15px;" />
												</div>
												
											</div>
										</td>
										<td width="15%">
											<div class="name-product">
												@whishlistItem.Product.ProductName
											</div>
										</td>
										<td width="15%" class="price">@whishlistItem.Product.ProductPrice Jd</td>
										<td width="15%"><span class="in-stock-box">@whishlistItem.Product.ProductStatus</span></td>
									
										<td width="15%" >
											<a asp-action="RemoveFromWishList" asp-route-id="@whishlistItem.Wishlistid" style="color:#fff;">
												Remove Item
											</a>
										</td>
										<td>
											<a asp-action="AddToCartWithWishlist" asp-controller="Carts" asp-route-productId="@whishlistItem.ProductId" style="color:#fff;"> Add to cart </a>

										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<button class="btn btn-secondary" style=" margin-left: 14%; margin-top:1%;  background-color:#4e4949fc; border-color:#4e4949fc;"> <a asp-action="Products2" asp-controller="UserHome" style=" color: #fff;"> Add items to wish list! </a></button>
	<button class="btn btn-secondary" style=" margin-left: 14%; margin-top:1%;  background-color:#4e4949fc; border-color:#4e4949fc;"> <a asp-action="Index" asp-controller="UserHome" style=" color: #fff;"> Back to home! </a></button>

	<br />
	<br />
	<br />
</body>