@model He_SheStore.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orderdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orderdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totalamount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totalamount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderAddress.OrderAddressId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Orderid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
